<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <title>RecipeBook</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="mainbody">
        <div class="logo">
            <img src="/images/logo.png" alt="">
        </div>
        <form action="/accounts/login" method="post">
            <h2>Welcome Back!</h2>
            <div class="">
                <input type="text" name="username" id="username" placeholder="Insert your username">
            </div>
            <div class="">
                <input type="password" name="password" id="password" placeholder="Insert your username">
            </div>
            <button>Login</button>
        </form>
        <a href="/accounts/register">
            <h4>Dont have an account yet? Register here</h4>
        </a>
    </div>
</body>

</html>
