<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeBook</title>
    <link rel="stylesheet" href="css/recipes.css">
</head>

<body>
    <nav>
        <a href="/"><img src="" alt="Logo not available"></a>
        <div class="searchbar">
            <input type="text" placeholder="Search a recipe" name="" id="">
        </div>
        <div class="links">
            <a href="/recipes">Recipe</a>
            <a href="/calculator">Calculator</a>
            <a href="">Account</a>
        </div>
    </nav>
    <div class="banner">
        <div class="bannercard">
            <h1>Banner</h1>
        </div>
    </div>
    <h2><a href="/recipes/new">Click here to add new Recipe</a></h2>
    <div class="mainbody">
        <div class="filters">
            <div class="category">
                <label for="category">Category</label>
                <select name="" id="category">
                    <option value="-">-</option>
                </select>
            </div>
            <div class="tags">
                <label for="tags">Tags</label>
                <select name="" id="tags">
                    <option value="-">-</option>
                </select>
            </div>
            <div class="rating">
                <label for="rating">Rating</label>
                <select name="" id="rating">
                    <option value="-">-</option>
                </select>
            </div>
        </div>
        <div class="cards">
            <% for(let recipe of recipes){ %>
                <div class="card">
                    <img src="<%=recipe.image%>" alt="Image not found">
                    <div class="description">
                        <h4>
                            <a href="/recipes/<%=recipe._id%> ">
                                <b>
                                    <%=recipe.title %>
                                </b>
                            </a>
                        </h4>
                        <p>
                            By
                            <%=recipe.author %>
                        </p>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    <div class="footer">
        <p>Copyright © 2022 RecipeBook. All Rights Reserved</p>
    </div>
</body>
