<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <title>RecipeBook</title>
    <link rel="stylesheet" href="css/register.css">
</head>

<body>
    <div class="mainbody">
        <div class="main">
            <img src="/images/logo.png" alt="">
            <form action="/accounts/register" method="post">
                <div class="">
                    <input type="text" name="username" id="username" placeholder="Insert your username" required>
                </div>
                <div class="">
                    <input type="text" name="email" id="email" placeholder="Insert your email" required>
                </div>
                <div class="">
                    <input type="password" name="password" id="password" placeholder="Insert your username" required>
                </div>
                <button>Register</button>
            </form>
            <a href="/accounts/login">
                <h4>Already have an account? Login here</h4>
            </a>
        </div>
        <div class="banner">
            <h2>Banner</h2>
        </div>
    </div>

</body>

</html>
