body {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #408107;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-bottom: 1%;
}

nav a img {
    max-width: 50px;
    max-height: 50px;
}

nav .links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.searchbar {
    width: 35%;
}

.searchbar input {
    text-align: left;
    width: 100%;
}

.mainbody {
    min-height: 100vh;
}

.mainbody .essentials {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
}

.mainbody .essentials img {
    width: 150px;
    height: 150px;
}

.mainbody .steps {
    background-color: red;
    height: 100px;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainbody .comment {
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainbody .comment .commentbody .commentdetail {
    display: block;
}

.footer {
    background-color: #408107;
    font-size: 0.8rem;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    text-align: center;
}
